.content-wrapper {
    background-color: white;
}

.box {
    background: #ecf0f5;
}

.skin-red .user-panel {
    background-color: #d96658;
}

.user-panel > .info {
    padding: 5px 5px 5px 5px;
    line-height: 1;
    position: relative;
    left: 0;
    width: 100%;
}

.skin-red .main-header .navbar {
    background-color:
    #ff710f;
}

.skin-red .main-header .logo {
    background-color: #e8e8e8;
}

.skin-red .user-panel {
    background-color:    #f2f2f2;
}

.skin-red .user-panel > .info, .skin-red .user-panel > .info > a {
    color:    #002063;
}
